

body.home{
		background-image: url("image/4.png");
		background-repeat: no-repeat;
		background-size: cover;}
		
body.shop{ background-image: url("image/4.png");
			background-repeat: no-repeat;
			background-size: cover;}

body.cat {
    background-image: url("image/4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

body.dog {
    background-image: url("image/4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1.pets_world {
    background-color: floralwhite;
    color: black;
    font-size: 70px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 100px 0px;
}
h1 {
    background-color: floralwhite;
    text-align: center;
    text-decoration: underline;
}

p.intro{
		background-color: floralwhite;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		padding: 70px;}
		
p.shop{color:black;
		font-weight: bold;
		font-size: 20px;
		background-color: floralwhite;
        padding:20px 0px 20px 0px;
} 
   
.text {color: white;}

h2 {
    font-size: 50px;
    font-weight: bold;
    color: black;
    text-align: center;
    background-color:floralwhite;
    padding:40px 0px;
}



nav  { border: 1px solid black;
		background-color:floralwhite ;
		color: #00008B;
		font-weight: bold;
		text-align: center;
		position: relative;
		}
nav ul {list-style-type: none;
		margin: 0;}
		
nav li{padding: 0.5em;
display: inline-block;
}

nav ul ul {position: absolute;
			background-color: #F5F5DC;
			padding: 0;
			text-align: center;
			display: none;
			}
			
nav li:hover ul{display: block;
				}

nav ul ul li{border: 1px solid #F5F5DC;
display: block;}

nav a{ text-decoration: none;
display: block;
border-bottom: 1px solid black;}

nav a:link {color: #483D8B;}
nav a:visited {color: blue;}
nav a:hover{color: #8B0000;
			background-color: #DCDCDC}
.zoom {
  
  transition: transform .7s;
  margin: 0 auto;
}
.zoom:hover{transform: scale(1.5);
			width: 250px;
			height: 250px;
			padding-left: 20px;}
			

.image1 { display: block;
margin: auto;
background-image: url(bg4.jpg);}

.flip-box {
  
  width: 300px;
  height: 200px;
 border: 1px solid white;
 background-color: #F0E68C;
perspective: 1000px;
display: inline-block;

}



.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
			
.flip-box:hover .flip-box-inner {
  transform: rotateY(270deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #FFA07A;
  color: black;
}

.flip-box-back {
  background-color: #FFA07A;
  transform: rotateY(90deg);
  text-decoration:none;
}

		
alt {font-size: 20px;
	 font-family: Arial;
	 color: white;
	text-align: center;}
	 
footer {font-size: 70%;
		text-align: center;
		clear: tight;
		background-color: floralwhite;
		padding: 10px;}
		
details {font-size: 20px;
		 text-decoration: underline;}
		 

.card {
		width: 300px;
		height: 200px;
		margin: auto;
		text-align: center;
font-family: arial;
display: inline-block;
font-size: 15px;
}



.price {color: white;
	font-size: 20px;}
	
.card button {border: none;
			 padding: 9px;
			 color: white;
			 background-color: #000000;
			 text-align: center;
			 width: 100%;
font-size: 18px;}

.card button:hover {opacity: 0.5;}
	
		
@media only screen and (max-width: 1024px) {
          body { margin: 0; padding: 0; } 
          h1 { margin: 0; }
		  
		  nav ul { display: flex
					flex-direction: row;
					justify-content: center;}
		  		
@media only screen and (max-width: 768px) {
		    h1 { font-size: 200%; }
			main { margin: 0 5%;      
                    width: auto;	}
			nav ul { padding: 0; margin: 1% 0 0 0; }
			nav a { display: inline-block;
                    width: 5em;
			        font-size: 120%;
					text-align: center;
					box-shadow: 2px 2px 2px #330000;
					background-color: #b4b4b4; 
					margin: 1%;
					padding: 1% 1.5%;}
							 
			


	


		

		
		

	  
